.App {
  text-align: center;
  background-image: url("./assets/main-background.gif");
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-size:cover;
  position:absolute;
  background-position: center;
}
