a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }


.p{
    display:inline-flex;
    padding: 15px;
    justify-content: space-evenly;
    width: 25.75%;
    height: fit-content;
    text-align: center;
    background-color: rgb(85, 74, 152);
    border-radius: 30px;
    margin: 20px;
    min-height: 250px;
    transition: all .2s ease-in-out;
}

.p:hover {
    transition: all .2,7s ease-in-out;
    transform: scale(1.2);
    border: rgb(255, 255, 255) solid 2px;
}

.test2{
    margin-left: 20px;
    height: 375px;
    width: 330px;
}

.test3{
    margin-left: 20px;
    height: 375px;
    width: 650px;
}

.form{
    color: rgb(0, 0, 0);
    background-color: rgb(85, 74, 152);
    text-indent: 4px;
    width: 600px;
    max-width: 1200px;
    height: fit-content;  
    padding: 10px;
    margin: 20px;
    text-justify: auto;
    justify-self: center;
    align-self: center;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 20px;
    display: inline-block;
}

.select{
    position: relative;
    display: inline;
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    width: 47%;
    border-radius: 5px;
}

.form label {
    position: absolute;
    display: flex;
    font-size: larger;
    font-weight: bold;
    text-indent: 4px;
    width: fit-content;
    max-width: 1200px;
    height: fit-content;  
    padding: 10px;
    margin: 10px;
    text-align: start;
    border-radius: 5px;
}

.form input {
    display: inline-flex;
    font-size: larger;
    font-weight: bold;
    text-indent: 4px;
    width: fit-content;
    max-width: 1200px;
    height: fit-content;  
    padding: 10px;
    margin: 10px;
    text-align: start;
    border-radius: 5px;
}

.formInputs{
    position: relative;
    left: 18px;
    display: inline;
    font-size: larger;
    text-indent: 4px;
    width: fit-content;
    max-width: 1200px;
    height: fit-content;  
    padding: 10px;
    margin: 10px;
    text-justify: auto;
    justify-self: center;
    align-self: center;
}

.form input:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.3);
}

.pagination{
    display: inline-flex;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
    position: relative;
    background-color: rgb(191, 113, 242);
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 10px;
}

.number{
    display: inline ;
    justify-content: space-evenly;
    font-size: x-large ;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(85, 74, 152);
    color: rgb(233, 233, 233);
    right: 15px;
}

.number a {
    color: rgb(233, 233, 233);
}

.number:hover{
    cursor: pointer;
    background-color: rgb(36, 134, 225);
    border-radius: 15px;
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.landing{
    display:inline-block;
    position:relative;
}

.landingBtn{
    position: absolute;
    width: 15%;
    bottom:27em;
    left:27.8em;
    background-color: rgb(191, 113, 242);
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
}

.landingBtn:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.5);
}

.landingImg{
    display:inline-block;
    position:relative;
    width: 100%;
    height: 100%;
    position: relative;
}